/*
Theme Name:         The eScholarship Research Centre
Theme URI:          
Description:        WordPress theme for eSRC
Version:            1.1.0
Author:             David McDonald, ESRC
Author URI:         http://www.davidmcdonald.org

License:            MIT License
License URI:        http://www.opensource.org/licenses/mit-license.php
*/

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Customized Adjustments of Foundation for WordPress
:: Styling Basic WordPress Outputs
:: Customize Foundation Style Pagination for WP-Pagenavi
:: Web Fonts
:: eSRC Style
*/

/* ---------------------------------------------------
   Customized Adjustments of Foundation for WordPress
--------------------------------------------------- */
 
	/* Foundation-specific presentation CSS by ZURB */
	div.site-header {
		float: left;
		margin: 25px 0 37px 25px;
	}

	div.site-header h1 {
		font-size: 47px;
		font-weight: normal;
		margin: 3px 0 0;
		padding: 0;
		-webkit-text-shadow: 1px -1px 2px #595959; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
		text-shadow: 1px -1px 2px #595959; /* Opera 10.5, IE9+, Firefox 4+, Chrome 6+, iOS 5 */
	}
	div.site-header h1 a { color: #3d4343; }
	div.site-header h1 a:hover { color: #181818; }
	.subheader { line-height: 1.3; color: #24658a; font-size: 16px; font-weight: 300; margin-bottom: 0; }
	
	@media handheld, only screen and (max-width: 767px) {
	header { position: relative; }
	header .subheader { margin-bottom: 0; }
	header .menu-action { float: left; position: relative; top: 1px; margin-top: -12px; }
	header .menu-action .button.small { padding: 8px; }
	header .menu-action .button.small svg { opacity: 0.5; }
	header h1 { font-size: 27px; font-size: 2.7rem; margin-bottom: 18px; }
	header h4 { font-size: 17px; font-size: 1.7rem; }
	}

/* -----------------------------------------
   Styling Basic WordPress Outputs
----------------------------------------- */
	
	/* Global */
	
	/* Nicolas Gallagher's micro clearfix */
	.cf { *zoom: 1; clear: both; }
	.cf:before, .cf:after { content: ""; display: table; }
	
	body{
		color: #3e4343;
	}

	h1, h2, h3, h4, h5, aside.intro p, .child-nav a {
		font-family: 'CreteRoundRegular', "Helvetica Neue", "Helvetica", Arial, Verdana, sans-serif;
		font-weight: 300;
		}

	h1{
		color: #658095;
		font-size: 43px;
	}
	
	h2{
		color: #658095;
	}
	
	h3{
		font-size: 17px;
	}
	
	a{
		color: #003268;
	}
	
	dd{
		font-size: 14px;
		line-height: 1.6;
		margin-bottom: 17px;
	}
	
	time, .tags{
		text-transform: uppercase;
	}
	
	.tags a{
		text-transform: none;
	}
	
	blockquote{
		margin: 0;
		padding: 9px 0 0 0;
		border: none;
	}
	
	blockquote p{
		color: #3e4343;
		font-size: 20px;
		line-height: 1.3;
	}

	/* Add Class for Images */
	img.alignright { float: right; margin: 0 0 18px 18px; }
	img.alignleft { float: left; margin: 0 18px 18px 0; }
	img.aligncenter { display: block; margin: 18px auto; }
	
	/* Add HTML5 Class for Images */
	figure img {
	height: auto;
	border: 1px solid #fff;
	margin: 0 auto;
	display: block;
	box-shadow: 0px 2px 10px #ddd;
	-moz-box-shadow: 0px 2px 10px #ddd;
	-webkit-box-shadow: 0px 2px 10px #ddd;
	border-image: initial;
	}
	
	/* Add HTML5 Caption Class for Images */
	figure.figure {
		margin: 0 auto;
		padding: 15px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		display: inline-block;
		background: #efefea;
	}
	
	.page figure.figure{
		width: 290px;
	}
	
	figure.figure figcaption {
		padding: 15px 10px 5px;
		font-size: 1.3rem;
		line-height: 18px;
		color: #555;
	}
	
	figure.alignright.figure {
		float: right;
		margin: 15px 0 18px 18px;
	}
	
	figure.alignleft.figure {
		float: left;
		margin: 15px 18px 18px 0;
	}

	
	/* Sidebar Adjustment */
	.sidebar-section { padding-bottom: 10px; padding-top: 20px;	font-size: 12px; font-size: 1.3rem; font-weight: normal; }
	
	/* Global Nav */
	.global-nav { float: right; margin-bottom: 0;  padding: 0; }
	.global-nav li { float: left; display: block; padding-left: 3%; margin-bottom: 0; }
	.global-nav li a { float: left; display: block; font-size: 13px; color: #e3ecf6; }
	.global-nav li#menu-item-27 a { color: #667fb4; }
	.global-nav li:first-child { margin-right: 25px; }
	.global-nav li:first-child a{ padding-left: 15px; background: url(images/icn-home.png) no-repeat 0 4px;}
	
	/* Primary Nav */
	.nav-bar{ 
		float: left;
		height: auto;
		margin: 0;
		background: none; 
	}
	
	.nav-bar > li, .nav-bar > li:last-child{
		border: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	
	.nav-bar > li > a:first-child{
		padding: 0 21px;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		line-height: 4; 
	}
	
	.nav-bar > li.active{
	background: none;
	border-color: none;
	}
	
	.nav-bar li.current-menu-item a, .nav-bar li.current-page-ancestor a,
	.single-post li.current_page_parent a, .category li.current_page_parent a,
	 .tag li.current_page_parent a, .date li.current_page_parent a,
	.post-type-archive-esrcguide .nav-bar li.menu-item-226 a,
	.post-type-archive-escrproject .nav-bar li.menu-item-22 a,
	.single-escrproject .nav-bar li.menu-item-22 a,
	.tax-projecttypes .nav-bar li.menu-item-22 a,
	.tax-pubtypes .nav-bar li.menu-item-241 a{
		color: #618093;
	}
	
	/* Sidebar Nav */
	
	.child-nav li, #sidebar .widget li{
		font-size: 18px;
		margin-bottom: 0.5em;
		padding-bottom: 0.5em;
		border-bottom: 1px solid #e6f7ff;
	}
	
	.child-nav li.current-menu-item a{
		color: #618093;
	}
	
	.child-nav li.current-menu-item .sub-menu a{
		color: #003268;
	}
	
	.child-nav .sub-menu{	
		display: none;
		margin: 0;
		padding-top: 0.5em;
		border-top: 1px solid #e6f7ff;
	}
	
	.page-parent .child-nav .sub-menu, .parent-pageid-75 .child-nav .sub-menu{
		display: block;
  -webkit-transition: all 0.73s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.73s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.73s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.73s ease-out;  /* Firefox 16+, Opera 12.50+ */
	}
	
	.child-nav .sub-menu li{
		padding-left: 30px;
	}
	
	.child-nav .sub-menu li:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	
	.child-nav .sub-menu a{
		font-size: 14px;
	}

	/* Footer Nav */
	.footer-section { padding-bottom: 10px; padding-top: 20px; font-size: 13px; font-size: 1.3rem; font-weight: normal; }
	.footer-nav li { display: block; float: right; padding-left: 3%; margin-bottom: 0; }
	.footer-section h5 { margin-top: 0; }
	
	/* Breadcrumb Adjustment */
	ul.breadcrumbs li span { padding-left: 3px; }
	ul.breadcrumbs li a { padding-left: 0; }
	
	/* Comment Textarea Adjustment */
	#respond textarea { height: 100px; }	

/*  -------------------------------------------------------
    Adjust Foundation 3 Pagination Style for WordPress
    ---------------------------------------------------- */ 
    
    ul.page-numbers { display: block; height: 24px; margin-left: -5px; }
    ul.page-numbers li {float: left; display: block; height: 24px; color: #999; font-size: 14px; margin-left: 5px; }
    ul.page-numbers li a { display: block; padding: 1px 7px 1px; color: #555; }
    ul.page-numbers li:hover a, ul.page-numbers li a:focus { background: #e6e6e6; }
    ul.page-numbers li.unavailable a { cursor: default; color: #999; }
    ul.page-numbers li.unavailable:hover a,ul.page-numbers li.unavailable a:focus { background: transparent; }
    ul.page-numbers li span.current { background: #2ba6cb; color: #fff; font-weight: bold; cursor: default; display: block; padding: 1px 7px 1px; }    
    
/* ---------------------------------------------------
   Web Fonts
--------------------------------------------------- */
    
    @font-face {
    font-family: 'CreteRoundItalic';
    src: url('fonts/CreteRound-Italic-webfont.eot');
    src: url('fonts/CreteRound-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CreteRound-Italic-webfont.woff') format('woff'),
         url('fonts/CreteRound-Italic-webfont.ttf') format('truetype'),
         url('fonts/CreteRound-Italic-webfont.svg#CreteRoundItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CreteRoundRegular';
    src: url('fonts/CreteRound-Regular-webfont.eot');
    src: url('fonts/CreteRound-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CreteRound-Regular-webfont.woff') format('woff'),
         url('fonts/CreteRound-Regular-webfont.ttf') format('truetype'),
         url('fonts/CreteRound-Regular-webfont.svg#CreteRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
    
    	
/*  --------------------------
    eSRC Styles
    ----------------------- */

.strip-global {
	width: 100%;
	padding: 5px 0;
	background: #003268;
}

.bg-header{
	width: 100%;
	background: url(images/bg-header.png) top;
}

.logo{
	float: left;
	margin-top: -35px;
}

.nav-main{
	width: 100%;
	background: #364550;
	border-bottom: 1px solid #658095;
}

.menu, .sub-menu, .child-nav, #sidebar ul{
	list-style: none;
}

p#breadcrumb{
	font-size: 13px;
}

#content{
	padding-top: 1em;
}

#sidebar{
	margin-top: 40px;
}

.page #content .one-up h2{
	font-weight: normal;
}

.one-up p.tags{
	margin: 0;
}

.one-up dt, .one-up dd{
	float: left;
}

.one-up dt{
	margin-right: 5px;
	font-weight: bold;
}


/* sidebar */

#sidebar h2{
	font-size: 30px;
	margin-bottom: 0.5em;
}
    
.home #sidebar h2{
	font-size: 37px
}    
    
#sidebar h3{
	margin: 0.4em 0 0.7em;
}

.widget_dmc_recent_posts_widget p{
	margin-bottom: 1.9em;
	padding-bottom: 1.7em;
	border-bottom: 1px solid #e6f7ff;
}

aside p{
	font-style: normal;
}

/* footer */

#content-info{
	color: #3e4343;
	margin-top: 4em;
	padding: 0;
	border-top: 1px solid #cfefff;
	background: #e6f7ff;
}

#site-footer{
	color: #dfd8d6;
	padding: 2em 0 4em;
	background: #364550;
}

#site-footer a{
	color: #fff;
}	

footer .row p{
	font-size: 12px;
}

#menu-footer-menu li{
	float: left;
	font-weight: bold;
}

#menu-footer-menu .sub-menu li{
	float: none;
	font-size: 12px;
	font-weight: normal;
}

#menu-footer-menu li.menu-item-144, #menu-footer-menu li.menu-item-93, 
#menu-footer-menu li.menu-item-94, #menu-footer-menu li.menu-item-95, 
#menu-footer-menu li.menu-item-242{
	float: none;
	text-align: right;
}

#content-info article:last-child p, footer .six.columns:last-child p{
	text-align: right;
}

/* front page */

.hero{
	width: 100%;
	background: #2b465a;
}

aside.intro{
	margin-top: 42px;
}

aside.intro p{
	color: #364550;
	font-size: 18px;
}

.featured-home li{
	height: 250px;
	margin-bottom: 1em;
}

.three-up h3{
	margin: 10px 0;
}

.three-up p{
	line-height: 1.5;
}

/* posts home page */

.holder{
	overflow: hidden;
}

.blog #content h2, .page #content h2{
	font-family: Arial, Verdana, sans-serif;
	font-size: 23px;
	margin: 0.4em 0 0.4em;
}

.post-type-archive-escrproject h2{
 	font-size: 23px;
}

.post-type-archive-escrproject .post-box h2{
 	margin: 0 0 0.4em;
 	font-family: Arial, Verdana, sans-serif;
 }

.post-type-archive-escrproject h3, .author #content .block-grid h3{
	margin: 0 0 0.3em 0; 
}

.author #content .block-grid{
	margin-bottom: 0;
}

.blog .entry-content p, .page #content h2, .post-type-archive-escrproject #content p{
	margin-bottom: 0.6em;
	line-height: 1.4em;
}

.post-type-archive-escrproject .info-box{
	padding-left: 0;
}

.post-type-archive-escrproject .project-intro{
	padding: 0 0 1em;
}

.post-type-archive-escrproject .info-box p, .post-type-archive-escrproject .post-box p,
.single-escrproject .project-meta p{
	font-size: 13px;
	line-height: 1.35;
}

.blog #content article, .archive #content article, .post-type-archive-escrproject #content article,
.single-escrproject .project-meta li, .one-up article{
	float: left;
	margin-bottom: 1.9em;
	padding-bottom: 0;
	border-bottom: 1px solid #E6F7FF;
}

.post-type-archive-escrproject #content .project-meta li{
	margin-bottom: 0.9em;
	padding-bottom: 0;
	border-bottom: 1px solid #E6F7FF;
}

.single-escrproject .project-meta li{
	width: 100%;
}

.single-escrproject .project-meta h3{
	margin: 0;
	width: 20%;
}

.single-escrproject .project-meta .meta-content{
	width: 80%;
}


/* page styles */

.page #content h2{
	font-weight: bold;
}

.page #content h3{
	font-family: Arial, Verdana, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0.4em 0 0.4em;
}

.page #content .post-box li{
	padding-bottom: 0.5em;
}

.list h2{
	color: #c30;
}



